{% extends "base.html" %}

{% block title %}
{{ studentgroup.name }}
{% endblock %}

{% block content %}
<div class="container">
	<h1 class="mt-3">
		{{studentgroup.name}}
	</h1>
	<p>Преподаватель группы — <a href="{% url 'study_base:teacher_detail' studentgroup.teacher.id %}">{{studentgroup.teacher.first_name}} {{studentgroup.teacher.last_name}}</a></p>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th>Ученики группы</th>
			</tr>
		</thead>
		<tbody>
			{% for user in studentgroup.students.all %}
				<tr>
					<td>{{user.first_name}} {{user.last_name}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<table class="table">
		<thead class="thead-light">
			<tr>
				<th colspan="2">Тестирования</th>
			</tr>
		</thead>
		<tbody>
			{% for test in tests %}
				<tr>
					<td>{{ test }}</td>
					<td><a href="{% url 'study_base:planned_test_results' test.id %}" class="btn btn-primary">Результаты</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}